/*----------------------------------------*/
/*  14. AboutUs section
/*----------------------------------------*/
.banner-area {
  background: url(../asset/images/bn.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  z-index: 1;
}
.banner-content-wrapper {
  display: table;
  height: 318px;
  z-index: 9;
  position: relative;
  width: 100%;
  text-align: left;
}
.banner-content {
  display: table-cell;
  vertical-align: middle;
  height: 300px;
}
.banner-content h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.banner-content h2{
font-weight: 700;
  margin: 0;
  padding: 0;
}
.banner-breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.banner-breadcrumb ul li{
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.banner-breadcrumb ul li a {
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.banner-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
.banner-breadcrumb ul li i {
  padding: 0 10px;
}
.banner-area{
    padding-bottom: 30px;
}
.banner-content-area {
   padding-top: 40px;
   display: inline;
   width: 1200px;
   position: relative;
   text-align: center;
   color: rgb(15, 14, 14);
}
.banner-content-area {
  text-align: justify;
}
.content-section{
  margin-bottom: 35px;
}
.content-section > h2{margin-top: 28px}
.content-section > h2, .section-title h2 {
  color: #676767;
  font-size: 36px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 13px;
}
.content-section p{margin-bottom: 35px}
.content-section p.m-0{margin-bottom: 0px}
.content-section h2 {
  color: #676767;
  font-size: 36px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 13px;
}
.content-section .m-1 p{
      margin-bottom: 35px;
  }

.banner-btn {
  background: transparent;
  color: #666666;
  display: inline-block;
  border: 1px solid #5FC7AE;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 36px;
  overflow: hidden;
  padding: 0 30px;
  border-radius: 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}
body {
  color: #7f7f7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Lato', sans-serif;
}
/* vedio embbed */
.about-video{
  position: relative; 
  text-align: center; 
  display: inline-block;
  box-shadow: 0 0 4px 4px #ECECEC;
}
.game:after{
  position: absolute; 
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  content: "";
}
.game {
position: relative;
z-index: 2;
margin: 10px;
}
.fa-play:before {
  content: '\f3aa';
}
.video-icon a i{
color: #fff;
font-size: 40px;
}
.video-icon a {
left: 0;
margin-top: -30px;
position: absolute;
right: 0;
text-align: center;
top: 50%;
z-index: 9;
}

/* event area start */
.d-flex .justify-content-center{
  justify-content: center;
}
.event-area-section{
  text-align: center;
}
.event-area {
background: url(../asset/images/event-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
.pb-100 {
padding-bottom: 100px;
}
.pt-95{
padding-top: 95px;
}

body {
color: #7f7f7f;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-family: 'Lato', sans-serif;
}
.section-title h2 {
color: #676767;
font-size: 36px;
text-transform: capitalize;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
margin-bottom: 13px;}
.section-title h2{
position: relative;
}
.section-title h2:after {
position: absolute;
left: 50%;
content: "";
background: url(../asset/images/title.png);
bottom: -15px;
margin-left: -54px;
width: 108px;
height: 8px;
z-index: 9;
}
.event-area .section-title p {
margin-bottom: 75px;
}
.section-title p {
margin-top: 30px;
}
.event-wrapper{
display: block;
margin-left: auto;
margin-right: auto;
}
.event-wrapper {
background: #ffffff none repeat scroll 0 0;
box-shadow: 0 0 4px 4px #dddddd;
display: table-cell;
margin: 0 42px;
padding: 24px 96px 66px;
position: relative;
text-align: center;
vertical-align: middle;
z-index: 9;

}
.event-wrapper:before {
position: absolute;
left: 30px;
top: -20px;
box-shadow: 0 0 4px 4px #ddd;
height: 100%;
content: "";
right: 30px;
background: url(../asset/images/event.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
.event {
z-index: 2;
position: relative;
}
.event .text-center p {
  padding: 0 200px;
  margin-bottom: 20px;
}
.event h3 {
font-size: 20px;
color: #757575;
font-weight: 500;
font-family: 'Montserrat', sans-serif;
margin-bottom: 17px;
}
.event h5 {
font-size: 16px;
color: #7f7f7f;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
}
.event h3 h4{
margin: 0;
padding: 0;
}
.event h3{
  margin: 0;
  padding: 0;
}
p {
line-height: 24px;
font-size: 14px;
}
.event h4 {
font-family: 'Montserrat', sans-serif;
color: #5fc7ae;
font-weight: 500;
font-size: 18px;
margin-bottom: 10px;
}
.event p {
  padding: 0 60px;
  margin-bottom: 20px;
}
.section-title h2 {
  position: relative;
}
.client-area>h2,
.section-title h2 {
  color: #676767;
  font-size: 36px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 13px;
}
.client-area .section-title p {
  margin-bottom: 5px;
}
.section-title p {
  margin-top: 30px;
}
p{
   line-height: 24px;
  font-size: 14px;
} 
.pb-100 {
  padding-bottom: 100px;
}
/*testimonial section  */
.testimonial .carousel {
  padding-bottom:50px;
  }
  .testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
  }
  .carousel-inner{
     background-color:#5FC7AE ;
  }
.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
  }
  .testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  }
  .testimonial4_slide p {
    color: black;
    font-size: 14px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
  }
  .testimonial4_slide h4 {
  color: black;
  font-size: 22px;
  }
  /* .testimonial {
      min-height: 200px;
      position: relative;
      background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
      padding-top: 20px;
      background-position: center;
          background-size: cover;
    } */
  .testimonial4_control_button .carousel-control{
      top: 175px;
      opacity: 1;
      width: 40px;
      bottom: auto;
      height: 40px;
      font-size: 10px;
      cursor: pointer;
      font-weight: 700;
      overflow: hidden;
      line-height: 38px;
      text-shadow: none;
      text-align: center;
      position: absolute;
      background: transparent;
      border: 2px solid #000;
      text-transform: uppercase;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
      transition: all 0.6s cubic-bezier(0.3,1,0,1);
      }
  .testimonial4_control_button .carousel-control.left{
      left: 7%;
      top: 50%;
      right: auto;
      }
      .testimonial4_control_button .carousel-control.right{
      right: 7%;
      top: 50%;
      left: auto;
      }
      .testimonial4_control_button .carousel-control.left:hover,
      .testimonial4_control_button .carousel-control.right:hover{
      color: #000;
      background: #000;
      border: 2px solid #000;
      }
      
      .testimonial4_header{
      top: 0;
      left: 0;
      bottom: 0;
      width: 550px;
      display: block;
      margin: 30px auto;
      text-align: center;
      position: relative;
      }
      .testimonial4_header h4{
      color: #000;
      font-size: 30px;
      font-weight: 600;
      position: relative;
      letter-spacing: 1px;
      text-transform: uppercase;
      }