
/* .container {
    position: relative;
    text-align: center;
    color: rgb(5, 3, 3);
      }
   */
   .bottom-left {
    position: absolute;
    bottom: 10px;
    left: 16px;
   
  }
 
h1 p{
    float: left;
    width: 40px;
    height: 40px;
    padding: 10px;
}
p{
    box-sizing: border-box;
    line-height: 24px;
    font-size: 14px;
    text-justify: auto;
}
h1{
    color: #676767;
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 13px;
}
.left{
    text-align: left justify;
    border: 3px solid none;
}
.content{
    padding-left: 20px;
    width: 570px;
    height: 320px;
}

.banner-breadcrumb ul li i {
    padding: 0 10px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    content: ">\00a0";
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    padding-bottom: 20px;
 

  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  .banner-area{
      padding-bottom: 30px;
  }
  .banner-content {
      padding-top: 40px;
    display: inline;
    width: 1200px;
  position: relative;
  text-align: center;
  color: rgb(15, 14, 14);
}
/* vedio embbed */
.about-video {
  position: relative;
  text-align: center;
  display: inline-block;
  box-shadow: 0 0 4px 4px #ececec;
}
.game {
  position: relative;
  z-index: 2;
  margin: 10px;
}
.fa-play:before {
    content: '\f3aa';
}
.video-icon a i {
  color: #fff;
  font-size: 60px;
}
.video-icon a {
  left: 0;
  margin-top: -30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  z-index: 9;
}

/* event area start */
.event-area {
  background: url(../asset/images/event-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    background-attachment: fixed;
  
}
.pb-100 {
  padding-bottom: 100px;
}
.pt-95{
  padding-top: 95px;
}

.container{
 width:  1200px;
 height: 630px;
 position: relative;
}
/* .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */
.container:before{
  display: table;
  content: " ";

}
.container::after{
  display: table;
    content: " ";
    clear: both;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:before {
  display: table;
  content: " ";
}
.row::after{
  clear: both;
  display: table;
  content: " ";
}

.text-center {
  text-align: center;
}
body {
  color: #7f7f7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Lato', sans-serif;
}
.section-title h2 {
  color: #676767;
  font-size: 36px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 13px;
  position: relative;
}
.section-title h2:after {
  position: absolute;
  left: 50%;
  content: "";
  background: url(../asset/img/title.jpg);
  bottom: -15px;
  margin-left: -54px;
  width: 108px;
  height: 8px;
  z-index: 9;
}
.event-area .section-title p {
  margin-bottom: 75px;
}
.section-title p {
  margin-top: 30px;
}
p {
  line-height: 24px;
  font-size: 14px;
}
.event-wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.event-wrapper {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 4px 4px #dddddd;
  display: table-cell;
  margin: 0 42px;
  padding: 24px 80px 66px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 9;
  
}
.event-wrapper:before {
  position: absolute;
  left: 30px;
  top: -20px;
  box-shadow: 0 0 4px 4px #ddd;
  height: 100%;
  content: "";
  right: 30px;
  background: url(../asset/images/event.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.event {
  z-index: 2;
  position: relative;
}
.event h3 {
  font-size: 20px;
  color: #757575;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 17px;
}
.event h5 {
  font-size: 16px;
  color: #7f7f7f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
h3 h4{
  margin: 0;
  padding: 0;
}
.event p {
  padding: 0 60px;
  margin-bottom: 20px;
}
p {
  line-height: 24px;
  font-size: 14px;
}
.event h4 {
  font-family: 'Montserrat', sans-serif;
  color: #5fc7ae;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
.event .text-center{
  text-align: center;
}