/* header */
.logo a {display: inline-block}
.top {
    background: #fff;
}
.main-menu ul li {
    display: inline-block;
    position: relative;
}
.mean-container .mean-nav ul li:first-child a {
  border-top: none;
}
.header-contact > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #5FC7AE;
    border-radius: 25px;
    color: #666666;
    margin-top: 8px;
    padding: 10px 20px;
    position:absolute;
}
.main-menu ul li a {
    color: #767676;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 64px;
    padding: 0 20px;
    position: relative;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.main-menu > nav > ul > li:hover > a {color: #5FC7AE;}
.main-menu ul li ul {
    background: #ffffff none repeat scroll 0 0;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 5px 18px;
    position: absolute;
    text-align: left;
    top: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 160px;
    z-index: 999;
}
.main-menu ul li:hover > ul {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    visibility: visible;
}
.main-menu ul li ul li a {}
.main-menu ul li ul li {
    display: block;
    margin: 0;
    padding: 7px 0;
}
.main-menu ul li ul li a {
    color: #252525;
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding: 0;
    text-transform: capitalize;
}
.main-menu ul li ul span {
    float: right;
    font-size: 15px;
    line-height: 20px;
    margin-right: 22px;
}
.main-menu ul li ul li:hover > a {padding-left: 5px;color: #C2A762}
.main-menu ul li ul li a:before {display: none;}
.main-menu ul li ul li > ul {
    left: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 17%;
    visibility: hidden;
}
.main-menu.text-left span {float: right;}
.mobile-menu-area, .mean-container .mean-bar:after {display: none}
.mean-container .mean-bar {
    background: transparent none repeat scroll 0 0;
    min-height: 0;
    padding: 0;
}
.mean-container a.meanmenu-reveal {
    border: 1px solid #5FC7AE;
    color: #5FC7AE;
    margin-top: -50px;
    padding: 4px 5px;
    position: absolute;
}
.sticky .mean-container a.meanmenu-reveal {
    margin-top: -59px;
}
.mean-container a.meanmenu-reveal span {background-color: #5FC7AE}
.mean-container .mean-nav {margin-top: 0;}
.headroom {
    -webkit-transition: -webkit-transform 200ms linear 0s;
    transition: -webkit-transform 200ms linear 0s;
    transition: transform 200ms linear 0s;
    transition: transform 200ms linear 0s, -webkit-transform 200ms linear 0s;
    will-change: transform;
}
.headroom--pinned {-webkit-transform: translateY(0%);transform: translateY(0%);}
.headroom--unpinned {-webkit-transform: translateY(-100%);transform: translateY(-100%);}
.intelligent-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}
.intelligent-header.headroom--pinned {}
.intelligent-header.headroom--not-top {
    background: #ffffff none repeat scroll 0 0;
    padding: 10px 0;
}
.header-sticky.sticky {
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    background: rgba(255, 255, 255, 0.95);
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.sticky .main-menu > nav > ul > li {
  padding: 12px 0 14px;
}
.sticky .header-contact a{margin-top: 25px}
.sticky .logo {padding: 11px 0;}
.header-area .sticky {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4)
}
.menu-style-toggle nav {
    margin-right: -30px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}
.menu-style-toggle nav.menu-open {
    margin-right: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.menu-style-toggle nav {
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.main-menu.mean-menu.menu-style-toggle.text-right {float: right;}
.mobile-header {
    background: #ffffff none repeat scroll 0 0;
    display: none;
    left: 0;
    margin: auto;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
.mobile-logo img {width: 40px;}
.menu-icon {
    border: 1px solid #464646;
    box-sizing: content-box;
    color: #464646;
    cursor: pointer;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    padding: 4px 5px;
    position: absolute;
    right: 20px;
    text-decoration: none;
    top: 25px;
    width: 22px;
}
.menu-icon span{background-color: #333333;
    display: block;
    height: 3px;
    margin-top: 3px;
    box-sizing: content-box
}
.mobile-menu-area {
    background-color: #fff;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.mobile-menu-area .menu-close {
    background-color: transparent;
    border: 2px solid #858585;
    border-radius: 50%;
    color: #858585;
    height: 40px;
    padding: 0;
    width: 40px;
	margin-bottom:30px;
}
.mobile-menu-area .menu-close:hover {
    color: #433a8b;
    border-color: #433a8b;
}
.mobile-menu-area .menu-close i {
    display: block;
    font-size: 30px;
    line-height: 30px;
    padding-right: 2px;
}
.sticky .menu-toggle {margin-top: 32px;}

/* **** */
.table-head h1 span{
    background:white;
    font-size: 48px;
    font-family: sans-serif;
    font-weight:400;
    padding: 25px 0;
}
.table-head h2{
    color:black;
    text-align: center;
}
.first-block1, .first-block2, .first-block3{
border: 2px groove gray;
background-color:seashell;
border-width: 5px;
border-radius: 20px;
text-align: center;
width: 60px;
}
.table-body ul{
    margin:0;
    padding-top: 33px;
    padding-bottom:30px;
    list-style-type: none;
}
ul{
    padding:0;
}
.table-body a{
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 25px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding:10px 33px;
    position: relative;
    box-shadow: 0 0 4px 4px #e2e2e2;
    color: skyblue;
    top: 19px;
    transition: all 0.5s ease 0s;
}
a{
    outline-color: initial;
    outline-width: medium;
    outline-style: none;
    transition: all 0.3s ease 0s;
}
.first-block1:hover, .first-block2:hover, .first-block3:hover {
    background-color: turquoise;
}
.firstblock{
    width: 100%;
    text-align: center;
    display:flexbox;
    background-color: white;
}
.bg{
    background-color: silver;
}
         /* Footer */
/* #map {
    width: 100%;
    height: 100%;
  } */
  
  .scroll {
    height: 100%;
  }
  .newsletter {
      padding: 80px 0;
      background:  #5FC7AE;
      z-index: 2;
      margin-top: -105px;
      position: relative;
      }
      
    .newsletter .content {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 2; }
  .newsletter .content h2 {
      color: #243c4f;
      margin-bottom: 40px; }
   .newsletter .content .form-control {
      height: 50px;
      border-color: #ffffff;
      border-radius:0;
      }
          .newsletter .content.form-control:focus {
      box-shadow: none;
      border: 2px solid #243c4f;
      }
      .newsletter .content .btn {
      min-height: 50px; 
      border-radius:0;
      background: #243c4f;
      color: #fff;
      font-weight:600;
      }
  .single-footer {
      color: #7f7f7f;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-family: 'Lato', sans-serif;
  }
  
  .pb-90 {
      padding-bottom: 90px;
  }
  .pt-98{
      padding-top: 98px;
  }
  
  .single-footer a {
      color: #5fc7ae;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      margin-bottom: 15px;
      line-height: 22px;
  }
  .bg-gray {
      background: #F1F1F1;
  }
  .bg-3 {
      background-image: url(../../img/footer/1.jpg);
      background-position: 55% bottom;
  }
  .container{
      width: 1200px;
  }
  .single-footer > h3 {
      color: #757575;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 23px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
  }
  
  .text-area{
      height: 143px;
      width: 400px;
  }
  .single-footer button, .contact-form button {
      background: #5FC7AE none repeat scroll 0 0;
      color: #fff;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      padding: 10px 70px;
      border: 1px solid #5FC7AE;
  }
  .single-footer textarea{
      height: 90px;
  }
  .single-footer input{
      
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      height: 30px;
      padding-left: 17px;
      width: 100%;
      box-shadow: none;
      color: #969696;
      font-size: 14px
  }
  .single-footer textarea{
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
     
  }
  .footer-text-area {
      background: #5FC7AE none repeat scroll 0 0;
  }
  .ptb-18 {
      padding: 18px 0;
  }
  .footer-text{
      text-align: center;
  }