
/* map section */
@media only screen and ( min-width: 980px ) {
    .gm-style-pbc {
    opacity: 0 !important;
    }
    }
    #map {
        height: 360px;
    }

    
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    /* newsletter contact section */
.newsletter {
    width: 1200px;
    padding: 80px 0;
    background:  #5FC7AE;
    }
    
  .newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
.newsletter .content h2 {
    color: #fff;
    margin-bottom: 40px; }
  .newsletter  input::-webkit-input-placeholder {
        color:#fff !important;
        }
 .newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
    }
        .newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
    }
    .newsletter .btn {
        display: inline-block;
        background: #fff none repeat scroll 0 0;
        border: medium none;
        color: #666666;
        font-family: "Montserrat",sans-serif;
        font-size: 16px;
        height: 45px;
        line-height: 34px;
        padding: 0 35px;
        position: absolute;
        font-weight: 600;
        right: 0px;
        top: -10px;
        border-radius: 0;
        text-transform: capitalize;
       margin-top: 30px;
    min-height: 50px; 
    border-radius:0;
    background: white;
    color:black;
    }
.newsletter .form-control {
                color: #eaeaea;
            font-size: 13px;
            margin-top: 20px;
            padding: 0 15px;
            background: #62C1AA;
            border: none;
            height: 45px;
        
    }
    
    .newsletter{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
     
    }
.single-footer {
    color: #7f7f7f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Lato', sans-serif;
}

.pb-90 {
    padding-bottom: 90px;
}
.pt-98{
    padding-top: 200px;
}

.single-footer a {
    color: #5fc7ae;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
    line-height: 22px;
}
.bg-gray {
    background: #F1F1F1;
}
.fix{

        overflow: hidden;
}
.bg-3 {
        background-attachment: scroll;
        background-clip: initial;
        background-color: rgba(0, 0, 0, 0);
        background-origin: initial;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-image: url(../../img/footer/1.jpg);
        background-position: 55% bottom;
}

/* footer sections */
.single-footer > h3 {
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.text-area{
    height: 143px;
    width: 400px;
}
.single-footer button, .contact-form button {
    background: #5FC7AE none repeat scroll 0 0;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 70px;
    border: 1px solid #5FC7AE;
}

.single-footer textarea{
    height: 90px;
}
.single-footer input{
    
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 30px;
    padding-left: 17px;
    width: 100%;
    box-shadow: none;
    color: #969696;
    font-size: 14px
}
.single-footer textarea{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   
}
.footer-text-area {
    background: #5FC7AE none repeat scroll 0 0;
}
.ptb-18 {
    padding: 18px 0;
}
.footer-text{
    text-align: center;
}
.data-text{
    border: none;
}