/* nav-Area */


/* Banner-Area */
.banner-area {
  background: url(../asset/images/bn.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  z-index: 1;
}
.banner-content-wrapper {
  display: table;
  height: 318px;
  z-index: 9;
  position: relative;
  width: 100%;
  text-align: left;
}
.banner-content {
  display: table-cell;
  vertical-align: middle;
  height: 300px;
}
.banner-content h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
h2{
font-weight: 700;
  margin: 0;
  padding: 0;
}
.banner-breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.banner-breadcrumb ul li{
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.banner-breadcrumb ul li a {
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.banner-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
.banner-breadcrumb ul li i {
  padding: 0 10px;
}
.banner-area{
    padding-bottom: 30px;
}

.banner-content-area {
   padding-top: 40px;
   display: inline;
   width: 1200px;
   position: relative;
   text-align: center;
   color: rgb(15, 14, 14);
}
.banner-content-area {
  text-align: justify;
}
.content-section{
  margin-bottom: 35px;
}
.content-section h2 {
  color: #676767;
  font-size: 36px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 13px;
}
.content-section .m-1 p{
      margin-bottom: 35px;
  }

.banner-btn {
  background: transparent;
  color: #666666;
  display: inline-block;
  border: 1px solid #5FC7AE;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 36px;
  overflow: hidden;
  padding: 0 30px;
  border-radius: 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}


/* Gallary-Area */
.gallary {
    position: relative;
    width: 50%;
  }
  
  .gallary-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  gallary:hover{
      background-color: cadetblue;
  }
  
  .zoombtn {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .gallary:hover{
    background-color: turquoise;
  }
  .gallary:hover .gallary-img {
    opacity: 0.3;
  }
  
  .gallary:hover .zoombtn {
    opacity: 1
  }
  
  .middle {
    background-color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }
  .middle:hover{
      text-align: center;
      background-color: white;
      font-size: 20px;
  }
/* client-Area */


/* Map area */



/* Newsletter */


/* footer-Session */
.single-footer > h3 {
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.text-area{
    height: 143px;
    width: 400px;
}
.single-footer button, .contact-form button {
    background: #5FC7AE none repeat scroll 0 0;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 70px;
    border: 1px solid #5FC7AE;
}

.single-footer textarea{
    height: 90px;
}
.single-footer input{
    
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 30px;
    padding-left: 17px;
    width: 100%;
    box-shadow: none;
    color: #969696;
    font-size: 14px
}
.single-footer textarea{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   
}
.footer-text-area {
    background: #5FC7AE none repeat scroll 0 0;
}
.ptb-18 {
    padding: 18px 0;
}
.footer-text{
    text-align: center;
}
.data-text{
    border: none;
}

