/*-----media queri for classes-page----*/

@media only screen and (max-width: 768px) {
    .bars {
        position: absolute;
       display:block;
        top:0px;
        right:0px;
        margin:10px;
        padding:15px;
        font-size: 28px;
        color:white;
        background-color:rgb(105, 99, 99);
}
    .logo img {
        display:block;
        margin-left:0px;
        margin-bottom: 20px;
    }
    .main-menu ul li {
        display:block;
        font-size: 16px;
        padding:0px;
    }
    #menu{
        display: none;
    }
    .header-contact > a{
        display: none;
    }

    /*--bannar-section--*/

    .con-bann{
        padding:2px;
        box-sizing: border-box;
    }

    /*---Our Classes----*/
    .card .cardd .card-img-top{
        width:100%;
    }
    .our .sim {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    .card-body h5 {
        font-size: 22px;
    }
    span .fa-clock-o {
        font-size: 20px;
    }
    .card-text i{
        font-size: 22px;
    }
    .card-p{
        font-size: 18px;
    }
    .card-p p{
        font-size: 18px;
    }


    /*----Class Schedule section----*/
    .c-schedule p {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }


    /*-----pricing table-----*/
    .section-title p {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    .table-body ul li {
        font-size: 18px;
        display:block;
        margin-right:20px;
        border-bottom: 1px solid #EAE8E8;
    }
    
    /*-----testimonial area------*/
    .single-testimonial p {
            font-size: 16px;
    }
    .single-testimonial img{
        height: 20px;
    }
    
    .single-testimonial h6 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    }

/*---- Newsletter Area  ----*/

    .tablee{
        width:40%;
    }
    .sub h3 {
        font-size: 25px;
    }
    #m-form > input {
        font-size: 17px;
        margin-right: 37px;
    }
    #m-form .defaultbtn {
        position: absolute;
        right: 20px;
        top: 58px;
        padding: 0 25px;
    }
}



@media only screen and (max-width: 320px) {
    
    /*--bannar-section--*/
    .myclass h1{
        font-size:10px;
    }
    /*---Our Classes----*/
    
    .our .sim {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    .card-body h5 {
        font-size: 19px;
    }
    span .fa-clock-o {
        font-size: 20px;
    }
    .card-text i{
        font-size: 22px;
    }
    .card-p{
        font-size: 17px;
    }
    .card-p p{
        font-size: 17px;
    }


    /*----Class Schedule section----*/
    .c-schedule h1{
        font-size: 30px;
    }

    .c-schedule p {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }

    
    /*-----pricing table-----*/
    .section-title p {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    .table-body ul li {
        font-size: 15px;
    }

    
    /*-----testimonial area------*/
    .section-title h2 {
        font-size: 28px;
    }
    .single-testimonial p {
        font-size: 15px;
      }
     .single-testimonial img{
         height: 15px;
      }

     .single-testimonial h6 {
       font-size: 15px;
     font-family: 'Montserrat', sans-serif;
      }
      .single-testimonial {
        margin: 20px 20px 30px 20px;
        padding: 15px 35px;
    }

}
