/*-----media queri for classes-page----*/

@media only screen and (max-width:1024px) {
    .bars {
        position: absolute;
       display:block;
        top:0px;
        right:0px;
        margin:10px;
        padding:7px 10px;
        font-size: 28px;
        color:white;
        background-color:rgb(105, 99, 99);
         }
         .logo img {
            display:block;
            margin-left:0px;
            margin-bottom: 20px;
        }
        #menu{
            margin: 0;
            padding: 0;
          }
        .secondcol{
            padding: 0px;
            margin: 0px;
            float:left;
           
        }
        .main-menu {
            float:left;
            margin-left:0px;
           
        }
        .main-menu ul li {
            display:block;
            font-size: 16px;
            padding:0px;
        }
       
        #menu{
            display: none;
        }
        .header-contact > a{
            display: none;
        }

        
    /*---Our Classes----*/
    .card .cardd .card-img-top{
        width:100%;
    }
    .modal-content {
        width: 20%;
    }
    .our .sim {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    .card-body h5 {
        font-size: 22px;
    }
    span .fa-clock-o {
        font-size: 20px;
    }
    .card-text i{
        font-size: 22px;
    }
    .card-p{
        font-size: 18px;
    }
    .card-p p{
        font-size: 18px;
    }
    
    /*----Class Schedule section----*/
    .c-schedule p {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    
    /*-----pricing table-----*/
    .section-title p {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    .table-body ul li {
        font-size: 18px;
        display:block;
        margin-right:20px;
    }
    
    /*-----testimonial area------*/
    .single-testimonial p {
        font-size: 16px;
     }
    .single-testimonial img{
        height: 20px;
     }

    .single-testimonial h6 {
       font-size: 18px;
       font-family: 'Montserrat', sans-serif;
       font-weight: 400;
     }
    
        
        
        }


@media only screen and (max-width: 768px) {
   
    .main-menu ul li {
        font-size:18px;
    }
    #menu{
        margin: 0;
        padding: 0;
      }
  
    /*--bannar-section--*/
    .bg-grey{
        background-color:  gainsboro;;
    }
   
    .con-bann{
        padding:2px;
        box-sizing: border-box;
    }
    .myclass h3{
        margin-left:15px;
    }
    .myclass  ul {
      margin-left:20px;
    }

/*---- Newsletter Area  ----*/

    .tablee{
        width:40%;
    }
    .sub h3 {
        font-size: 25px;
    }
    #m-form > input {
        font-size: 17px;
        margin-right: 37px;
    }
    #m-form .defaultbtn {
        position: absolute;
        right: 20px;
        top: 58px;
        padding: 0 25px;
    }
}



@media only screen and (max-width: 320px) {
    
    /*--bannar-section--*/
    .myclass h3{
        margin-left:15px;
    }
    .myclass  ul {
      margin-left:20px;
    }
    /*---Our Classes----*/
    
    .our .sim {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    .card-body h5 {
        font-size: 19px;
    }
    span .fa-clock-o {
        font-size: 20px;
    }
    .card-text i{
        font-size: 22px;
    }
    .card-p{
        font-size: 17px;
    }
    .card-p p{
        font-size: 17px;
    }


    /*----Class Schedule section----*/
    .c-schedule h1{
        font-size: 30px;
    }

    .c-schedule p {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }

    
    /*-----pricing table-----*/
    .section-title p {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    .table-body ul li {
        font-size: 15px;
    }

    
    /*-----testimonial area------*/
    .section-title h2 {
        font-size: 28px;
    }
    .single-testimonial p {
        font-size: 15px;
      }
     .single-testimonial img{
         height: 15px;
      }

     .single-testimonial h6 {
       font-size: 15px;
     font-family: 'Montserrat', sans-serif;
      }
      .single-testimonial {
        margin: 20px 20px 30px 20px;
        padding: 15px 35px;
    }
    
/*---- Newsletter Area  ----*/

.tablee{
    width:0%;
    padding: 0px 0px;
}
.sub h3 {
    font-size: 16px;
}
#m-form > input {
    font-size: 12px;
    float: left;
    margin-bottom: 20px;
    margin-top:0px;
}
#m-form .defaultbtn {
    position: absolute;
    right:70px;
    top:90px;
    padding: 0 10px;
}
.newsletter-w {
    
    padding: 20px 20px;
    margin-top: -105px;
    margin-left: 60px;
    margin-right: 20px;
    height:150px;
}
.newsletterr-form{
    display:block;
}
/* media queri for about us page 
@media only screen and (max-width: 320px){ */
    .carousel-caption h5{
        font-size: 8px;
       
        }
        .carousel-caption .banner-btn{
            font-size:10px;
            padding: 0 10px;
            line-height: 25px;

        }
        .carousel-caption h1{
            font-size: 20px;
        }
        .item .carousel-caption p{
            font-size: 8px;
            line-height: 10px;
        }
        /* media query for gallery page */
/* @media only screen and (max-width:320px){ */
    .f1, .f2, .f3{
        /* margin: 10px; */
        margin-bottom: 1rem;
    }
    .colr, .socih .gallary{
        background-color: white;
    }

/* media query for contact page
@media only screen and (max-width:320px){ */
    .fbtn{
        width:100%
    }
    .sub{
        width:222%
    }
    .email-fc{
        width: 222%;
    }
    .mapp12{
        width: 222%;
    }



}

