       
/*----------------------------------------*/
/*   header Area
/*----------------------------------------*/

.header-section{
    margin-top:10px;

}
.logo img {
   display: inline-block;
   margin-left: 50px;
}
.top {
   background: #fff;
}
.main-menu ul li {
   display: inline-block;
   position: relative;
   list-style-type: none;
   margin-bottom: 0px;
}
.mean-container .mean-nav ul li:first-child a {
 border-top: none;
}
.header-contact > a {
   font-size: 14px;
   font-weight: 600;
   font-family: 'Montserrat', sans-serif;
   border: 1px solid #5FC7AE;
   border-radius: 25px;
   color: #666666;
   margin-top: 8px;
   padding: 8px 30px;
   position:absolute;
}
.main-menu ul li a {
   text-decoration: none;
   color: #767676;
   display: inline-block;
   font-size: 18px;
   font-weight: 540;
   line-height: 64px;
   padding: 0px 20px;
   position: relative;
   font-family: 'Montserrat', sans-serif;
   transition: all 0.4s ease 0s;
}   
.main-menu > nav > ul > li:hover > a {
   color: #5FC7AE;
}
.header-contact .banner-bttn{
    margin-top:15px;
}
.banner-bttn:hover{
   background-color: #5FC7AE;
   color:black;
   text-decoration: none;
   }

   
/*----------------------------------------*/
/*  14. bannar section
/*----------------------------------------*/
.banner-area {
    background: url(../asset/images/bn.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 1;
}
.banner-content-wrapperr {
   z-index: 9;
    position: relative;
    width:100%;
    height: 318px; 
}
.banner-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
}
.banner-area{
      padding-bottom: 30px;
  }
.myclass {
    position:absolute;
    top:43%;
    left:5%;
    font-size: 19px;
    color: white;
}
.myclass h3{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;

}
.myclass ul{
   display: flex;
   padding-left:0px;
 }      
.myclass ul li {
    display:inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    padding:5px;
    }
.myclass ul li a{
    list-style-type: none;
    color:white;
    margin-right:8px;
    font-size:16px;
    text-decoration: none;
    margin-bottom: 10px;
    top: 15px;
    } 
.r-icon i{
   color: white;
    background: none;
    margin-top:5px;
    }
  

/*----------------------------------------*/
/*   our classes Area
/*----------------------------------------*/

.classes{
    padding-top:20px;
    padding-bottom:40px;
 }
 .our{
    color: #676767;
 }
 
 .our p {
    margin-top: 20px;
    margin-bottom:20px;
    text-align: center;
    color: #676767;
 }
 .card-body h5{
   font-size: 18px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid #F1F1F1;
 }
 .card-text{
     font-size: 14px;
 }
 .card-p p {
    margin-left:10px;
    margin-top: 0px;
 }
 .card-p{
    font-size: 14px;
     margin-top:10px;
     padding-top: 10px;
      display:flex;
 }
 span .fa-clock-o{
    color: #5fc7ae;
    font-size: 18px;
    
 }
 .card-text i{
    font-size: 18px;
    color: #5fc7ae;
    padding-left:0px;
 }
 .cardd {
    position:relative;
 }
 .cardd:hover{
        background-color: turquoise;
        cursor: zoom-in;
 }
 .cardd:hover .card-img-top{
        opacity: 0.3;
 }
 .card-img-top{
    opacity:1;
    display: block;
    transition: 0.5s ease-out;
    backface-visibility: hidden;
 }
 .text-center .banner-btn {
    color: #666666;
    display: inline-block;
    border: 1px solid #5FC7AE;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 36px;
    padding: 0 35px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .banner-btn:hover{
    background-color: #5FC7AE;
    color:black;
    text-decoration: none;
    }

 #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }
      
      #myImg:hover {opacity: 0.7;}
      
      /* The Modal (background) */
      .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.9); 
      }
      
      /* Modal Content (image) */
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 500px;
      }
      
      /* Caption of Modal Image */
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      /* Add Animation */
      .modal-content, #caption {  
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
      }
      
      @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
      }
      
      /* The Close Button */
      .close {
        position: absolute;
        top: 70px;
        right:31%;
        color: #f1f1f1;
        font-size: 50px;
        font-weight: bolder;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* 100% Image Width on Smaller Screens */
      @media only screen and (max-width: 700px){
        /* .modal-content {
          width: 100%;
        } */
      }

 
 
 /*----------------------------------------*/
 /*   our classes /Class Schedule
 /*----------------------------------------*/
 
 .c-schedule {
    color: #676767;
 }
 .c-schedule p {
    margin-top: 20px;
    margin-bottom:20px;
    text-align: center;
    color: #676767;
 }
 table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
 }
 
 th {
    background: #F1F1F1;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 500;
    border:1px solid #E9E9E9;
 }
 td {
    width: 12.5%;
    padding: 35px 0px 28px 0;
    border-right: 1px solid #E9E9E9;
 }
 td.time p {
    margin-top: 20px;
    font-size: 16px;
    color: #fffbfb;
    font-weight: 500;
 }
 td h4 {
    margin-top:20px;
    font-size: 13px;
    color: rgb(29, 23, 23);
    font-weight: 600;
    margin-bottom: 8px;
 }
 td p {
    font-size: 12px;
    color: rgb(26, 22, 22);
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 14px;
    
 }


/*----------------------------------------*/
/*  8. Pricing Area
/*----------------------------------------*/
.pricing-area{
    margin-top:40px;
    margin-bottom: 40px;
}
.bg-gray {
    background: #F1F1F1;
    padding-top: 95px;
    padding-bottom: 95px;
}
.section-title h2 {
    color: #676767;
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 13px;
}
.section-title p {
    margin-top: 30px;
    margin-bottom: 55px;
    color: #676767;
}
.single-table{
    box-shadow: 0 0 4px 4px #E2E2E2;
}
.single-table:hover .table-head h2, .single-table:hover .table-body, .single-table:hover .table-body a{
    background: #5FC7AE;
}
.single-table:hover .table-head h2, .single-table:hover .table-body ul li, .single-table:hover .table-body a{
    color: #fff;
}
.single-table:hover .table-body ul li{
    border-bottom: 1px solid #5DC0A8;
}
.single-table:hover .table-body ul li:last-child{
    border-bottom: none;
}
.single-table:hover .table-body a{
    box-shadow: 0 0 4px 4px #59BBA3;
}
.table-head h2{
    font-size: 20px;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 25px 0;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.table-head h1{
    background: #fff;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 25px 0;
}
.table-head h1 span{
    font-size: 12px;
    color: #7f7f7f;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.table-body{
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.table-body ul{
    margin: 0;
    padding-top: 33px;
    padding-bottom: 30px;
    list-style: none;
}
.table-body ul li{
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #EAE8E8;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.table-body ul li:last-child{
    display: block;
    padding-bottom: 0;
    border-bottom: none;
}
.table-body a {
    background: #f1f1f1 none repeat scroll 0 0;
    border-radius: 25px;
    box-shadow: 0 0 4px 4px #e2e2e2;
    color: #5fc7ae;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 33px;
    position: relative;
    text-transform: uppercase;
    top: 19px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}


 

/*----------------------------------------*/
/*   Newsletter Area
/*----------------------------------------*/ 
.newsletter-a{
    margin-top:30px;
    margin-bottom:1px;   
    padding-top:0px;
}
.topt {
    border-spacing: 0;
    border-collapse: collapse;

}
.topt td {
    padding: 20px 0px 18px 0;
    
}
.dismissBtn {
    background-color: #fff;
    border: 1px solid #dadce0;
    color: #1a73e8;
    border-radius: 4px;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    height: 36px;
    cursor: pointer;
    padding: 0 24px;
    margin-left: 30px;
}
.graff .tablee{
   position: absolute;
   margin-top:8px;
   left:40%;
   z-index: 1;
   background-color: white;

}
.newsletter-w{
    background: #5FC7AE;
    padding: 35px 35px;
    margin-top: -105px;
    margin-left:75px;
    margin-right: 20px;
    z-index: 2;
    position: relative;
    width: 1160px;
    height:200px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.text-center {
    text-align: center;
}
.sub{
    color: #fff;
}
.sub h3{
    font-size: 34px;
}
.newsletter-c .section-title h3 {
    font-size: 24px;
    margin-left:10px;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0px;
}
#m-form > input {
    color: #eaeaea;
    font-size: 13px;
    margin-top: 20px;
    padding: 0 15px;
    border: none;
    height: 45px;
    background: #62C1AA;
}
input, textarea {
    background: rgba(161, 149, 149, 0) none repeat scroll 0 0;;
   border: none;
    box-shadow: none;
    color: #eaeaea;
    font-size: 14px;
    height: 42px;
    padding-left: 17px;
    width: 60%;
}
.newsletterr-form input[type="email"]::-webkit-input-placeholder {color:#eaeaea;}
#m-email{
    color: #eaeaea;
}
#c-email{
    margin-bottom:10px;
}
#m-form .defaultbtn {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #666666;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    height: 45px;
    line-height: 34px;
    padding: 0 35px;
    position: absolute;
    font-weight: 600;
    right:72px;
    top:70px;
    border-radius: 0;
}
#m-form .defaultbtn:hover{
    color: #4f8073;
    font-size: 17px;
}


/*----caurosal-------*/
.slider-c{
  margin-left:10%;
  width: 900px;
  margin-bottom:40px ;

}
.single-testimonial {
  background: #5fc7ae none repeat scroll 0 0;
  color: #ffffff;
  margin: 30px 85px 30px 85px;
  padding: 20px 60px;
  position: relative;
  text-align: center;
}
.single-testimonial p {
  margin-bottom: 25px;
  line-height: 24px;
  font-size: 14px;
}
.single-testimonial img{
 text-align: center;
 font-size: 15px;
 height: 24px;
 width:50px;
margin-bottom: 15px;
}
.single-testimonial h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

 

/*----------------------------------------*/
/*   footer Area
/*----------------------------------------*/
.ftr {
   background-color: #f1f1f1;
   padding-top:40px;
   padding-bottom: 40px;
   z-index:99;
}
.footer1 p{
   padding-top:20px;
   color: #7f7f7f;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
}
ul li {
   display: block;
   margin-bottom: 14px;
   color: #7f7f7f;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
}
.footer2 h3 {
    color: #757575;
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 23px;
}
 .icon-content .icon .fa {
   float: left;
   color:black;
   background-color: white;
}
.icon-content{
margin-bottom:10px;
}
.icon {
   margin-top: 10px;
   float: left;
   margin-right:10px;
}
.content p{
   color: #757575;
   font-size: 14px;
   display: table-cell;
}
.content a {
   color: #5fc7ae;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   margin-bottom: 15px;
   line-height: 22px;
   margin-left:30px;
}
.footer3 h3 {
   color: #757575;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 23px;
}
button {
   float:left;
   background: #5FC7AE;
   color: #fff;
   font-weight: bold;
   font-size: 15px;
   font-family: 'Montserrat', sans-serif;
   padding: 10px 70px;
   border: 1px solid #5FC7AE;
}
.first .form-control{
   background-color:#f1f1f1 ;
}

.third .form-control{
  background-color:#f1f1f1 ;
}
.footer-copyright{
   padding-top:15px;
   padding-bottom:5px;
}
.footer-copyright a {
   color: #fff;
   font-weight: 700;
}
.footer-copyright p{
    color:white;
    font-size: 13px;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
}
.para {
   color: #f5f5f5;
   display: block;
   font-size: 13px;
   line-height: 21px;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
}


/*----------------------------------------*/
/*  14. AboutUs section
/*----------------------------------------*/
.banner-area {
    background: url(../asset/images/bn.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .banner-content-wrapper {
    display: table;
    height: 318px;
    z-index: 9;
    position: relative;
    width: 100%;
    text-align: left;
  }
  .banner-content {
    display: table-cell;
    vertical-align: middle;
    height: 300px;
  }
  .banner-content h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .banner-content h2{
  font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .banner-breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .banner-breadcrumb ul li{
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  .banner-breadcrumb ul li a {
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    transition: all 0.5s ease 0s;
  }
  .banner-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
  .banner-breadcrumb ul li i {
    padding: 0 10px;
  }
  .banner-area{
      padding-bottom: 30px;
  }
  .banner-content-area {
     padding-top: 40px;
     display: inline;
     width: 1200px;
     position: relative;
     text-align: center;
     color: rgb(15, 14, 14);
  }
  .banner-content-area {
    text-align: justify;
  }
  .content-section{
    margin-bottom: 35px;
  }
  .content-section > h2{margin-top: 28px}
  .content-section > h2, .section-title h2 {
    color: #676767;
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 13px;
  }
  .content-section p{margin-bottom: 35px}
  .content-section p.m-0{margin-bottom: 0px}
  .content-section h2 {
    color: #676767;
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 13px;
  }
  .content-section .m-1 p{
        margin-bottom: 35px;
    }
  
  .banner-btn {
    background: transparent;
    color: #666666;
    display: inline-block;
    border: 1px solid #5FC7AE;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 36px;
    overflow: hidden;
    padding: 0 30px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
  }
  body {
    color: #7f7f7f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Lato', sans-serif;
  }
  /* vedio embbed */
  .about-video{
    position: relative; 
    text-align: center; 
    display: inline-block;
    box-shadow: 0 0 4px 4px #ECECEC;
  }
   .game:after{
    position: absolute; 
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    content: "";
  }
  .game {
  position: relative;
  z-index: 2;
  margin: 10px;
  }
   .fa-play:before {
    content: '\f3aa';
  }
  .video-icon a i{
  color: #fff;
  font-size: 40px;
  }
  .video-icon a {
  left: 0;
  margin-top: -30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  z-index: 9;
  }
  
  /* event area start */
  .d-flex .justify-content-center{
    justify-content: center;
  }
  .event-area-section{
    text-align: center;
  }
  .event-area {
  background: url(../asset/images/event-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  }
  .pb-100 {
  padding-bottom: 100px;
  }
  .pt-95{
  padding-top: 95px;
  }
  
  body {
  color: #7f7f7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Lato', sans-serif;
  }
  .section-title h2 {
  color: #676767;
  font-size: 36px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 13px;}
  .section-title h2{
  position: relative;
  }
  .section-title h2:after {
  position: absolute;
  left: 50%;
  content: "";
  background: url(../asset/images/title.png);
  bottom: -15px;
  margin-left: -54px;
  width: 108px;
  height: 8px;
  z-index: 9;
  }
  .event-area .section-title p {
  margin-bottom: 75px;
  }
  .section-title p {
  margin-top: 30px;
  }
  .event-wrapper{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .event-wrapper {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 4px 4px #dddddd;
  display: table-cell;
  margin: 0 42px;
  padding: 24px 96px 66px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 9;
  
  }
  .event-wrapper:before {
  position: absolute;
  left: 30px;
  top: -20px;
  box-shadow: 0 0 4px 4px #ddd;
  height: 100%;
  content: "";
  right: 30px;
  background: url(../asset/images/event.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  }
  .event {
  z-index: 2;
  position: relative;
  }
  .event .text-center p {
    padding: 0 200px;
    margin-bottom: 20px;
  }
  .event h3 {
  font-size: 20px;
  color: #757575;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 17px;
  }
  .event h5 {
  font-size: 16px;
  color: #7f7f7f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  }
  .event h3 h4{
  margin: 0;
  padding: 0;
  }
  .event h3{
    margin: 0;
    padding: 0;
  }
  p {
  line-height: 24px;
  font-size: 14px;
  }
  .event h4 {
  font-family: 'Montserrat', sans-serif;
  color: #5fc7ae;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
  }
  .event p {
    padding: 0 60px;
    margin-bottom: 20px;
  }
  .section-title h2 {
    position: relative;
  }
  .client-area>h2,
  .section-title h2 {
    color: #676767;
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 13px;
  }
  .client-area .section-title p {
    margin-bottom: 5px;
  }
  .section-title p {
    margin-top: 30px;
  }
  p{
     line-height: 24px;
    font-size: 14px;
  } 
  .pb-100 {
    padding-bottom: 100px;
  }
  /*testimonial section  */
  .testimonial .carousel {
    padding-bottom:50px;
    }
    .testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
      width: 35px;
      height: 35px;
    }
    .carousel-inner{
       background-color:#5FC7AE ;
    }
  .testimonial4_slide{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
    }
    .testimonial4_slide img {
      top: 0;
      left: 0;
      right: 0;
      width: 200px;
      height: 200px;
      margin: auto;
      display: block;
      color: #f2f2f2;
      font-size: 18px;
      line-height: 46px;
      text-align: center;
      position: relative;
      border-radius: 50%;
      box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
      -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
      -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
      -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    }
    .testimonial4_slide p {
      color: black;
      font-size: 14px;
      line-height: 1.4;
      margin: 40px 0 20px 0;
    }
    .testimonial4_slide h4 {
    color: black;
    font-size: 22px;
    }
    /* .testimonial {
        min-height: 200px;
        position: relative;
        background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
        padding-top: 20px;
        background-position: center;
            background-size: cover;
      } */
    .testimonial4_control_button .carousel-control{
        top: 175px;
        opacity: 1;
        width: 40px;
        bottom: auto;
        height: 40px;
        font-size: 10px;
        cursor: pointer;
        font-weight: 700;
        overflow: hidden;
        line-height: 38px;
        text-shadow: none;
        text-align: center;
        position: absolute;
        background: transparent;
        border: 2px solid #000;
        text-transform: uppercase;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
        transition: all 0.6s cubic-bezier(0.3,1,0,1);
        }
    .testimonial4_control_button .carousel-control.left{
        left: 7%;
        top: 50%;
        right: auto;
        }
        .testimonial4_control_button .carousel-control.right{
        right: 7%;
        top: 50%;
        left: auto;
        }
        .testimonial4_control_button .carousel-control.left:hover,
        .testimonial4_control_button .carousel-control.right:hover{
        color: #000;
        background: #000;
        border: 2px solid #000;
        }
        
        .testimonial4_header{
        top: 0;
        left: 0;
        bottom: 0;
        width: 550px;
        display: block;
        margin: 30px auto;
        text-align: center;
        position: relative;
        }
        .testimonial4_header h4{
        color: #000;
        font-size: 30px;
        font-weight: 600;
        position: relative;
        letter-spacing: 1px;
        text-transform: uppercase;
        }
        
/* Gallary-Area */
.gallary {
  position: relative;
  width: 50%;
}

.gallary-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
gallary:hover{
    background-color: cadetblue;
}

.zoombtn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.gallary:hover{
  background-color: turquoise;
}
.gallary:hover .gallary-img {
  opacity: 0.3;
}

.gallary:hover .zoombtn {
  opacity: 1
}

.middle {
  background-color: white;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.middle:hover{
    text-align: center;
    background-color: white;
    font-size: 20px;
}
.zoom{
  margin-top: 17px;
}
/* contact page */
.mainhead{
  color: #000; 
}
.frm h6{
  color: #000;
}
.soci{
  color: black;
  font-size:25px;
  cursor:pointer;
  margin: 10px;
}

/* .frmm{
  background-image: url('../asset/images/SBE9ZU.webp');
  background-repeat: no-repeat;
  background-size:cover ;
} */
.tip{
  color: #000;
}


/*---trainer area---*/
.single-trainer, .blog-pic {
  position: relative;
  overflow: hidden;
}

.trainer-hover {
  position: absolute;
  left: 0;
  top: 50%;
  margin: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 99;
  margin-top: -32px;
}

.single-trainer {
  position:relative;
}
.single-trainer:hover{
      background-color: turquoise;
      cursor: zoom-in;
}
.single-trainer:hover .img-trainer{
      opacity: 0.3;
}
.img-trainerp{
  opacity:1;
  display: block;
  transition: 0.5s ease-out;
  backface-visibility: hidden;
}

/* slider carousel in index page */

/* Make the image fully responsive */
.carousel-inner img {
  width: 200px;
  height: 200px;
}
 .carousel-caption {
color: black;
right: 58%;
text-align: center;
max-width: 900px;
height: 240px;
left: auto;
top: auto;
}
.carousel-indicators  {
  width: 12px;
  height: 12px;
  margin: 0;
  color: #5FC7AE;
}

.carousel-caption h5{
font-size: 16px;
color: #7f7f7f;
font-family: 'Montserrat', sans-serif;
letter-spacing: 3px;
font-weight: 400;
margin-bottom: 8px;
margin: 0;
padding: 0;
}
.carousel-caption h1 {
color: #666666;
font-size: 36px;
margin-bottom: 20px;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
line-height: 1.1;
}
.item .carousel-caption  p {
line-height: 24px;
margin: 0 0 10px;
color: #7f7f7f;
font-size: 16px;
margin-bottom: 32px;
font-family: 'Lato', sans-serif; 
}
.title{
color: #5FC7AE;
}

.carousel-caption .banner-btn {
background: transparent;
color: #666666;
display: inline-block;
border: 1px solid #5FC7AE;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
line-height: 36px;
overflow: hidden;
padding: 0 30px;
border-radius: 25px;
position: relative;
text-align: center;
text-transform: uppercase;
transition: all 0.5s ease 0s;
}

